<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>OpenFCM webapi</title>
  <meta name="description" content="OpenFCM webapi">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
    <form method="post">
        {R1}
        <input name="command" style="display:inline-block;width:calc(100% - 200px);max-width:80ch;min-width:15ch;" autocomplete="off" autofocus/>
        <input type=submit value="Run"/>
    </form>
    {R2}
    
    <script>
        //JS go here
    </script>
</body>
</html>