<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>OpenFCM webapi</title>
  <meta name="description" content="OpenFCM webapi">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
    Client-side <a href="/">FCM API</a>:<br/>
    <br/>
    Options:<br/>
    1. Work with latest local FCM at <a href="/cs/{R}">/cs/{R}</a><br/>
    2. Create new FCM at at <a href="/cs_login">/cs_login</a><br/>
    3. End current session at <a href="/cs_logout">/cs_logout</a><br/>
    4. Get latest FCM as JSON at <a href="/cs/{R}/serialize/">/cs/{R}/serialize/</a><br/>
    5. Command line interface (CLI) at <a href="/cs/{R}/cli/">/cs/{R}/cli/</a><br/>
    <br/>
    Note:<br/>
    Client side implementation uses Cookies, hence in order to use it, you must accept to store Cookies on your PC.
</body>
</html>